<div class="card filters">

    <div class="card-header">Filtros</div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="from"></label>
                <input type="number" id="from" class="form-control">
            </div>

            <div class="form-group">
                <label for="to"></label>
                <input type="number" a id="to" class="form-control">
            </div>

            <button class="btn btn-primary btn-block btn-sm mt-2">Filter by price</button>
        </form>
        
        <form>
            <div class="form-group">
                <label for="from"></label>
                <input type="text" id="name" class="form-control" (keyup)="findByName($event)" >
            </div>

            <button class="btn btn-primary btn-block btn-sm mt-2">Por nome</button>
        </form>
    </div>
</div>