.cart-item {
    font-size: small;
}
.filters {
    font-size: small;
}
.card,
.form-control,
.btn {
    border-radius: 0;
}
.list-group-item:first-child,
.list-group-item:last-child {
    border-radius: 0;
}
.product-btn {
    font-size: smaller;
}
.fa-heart {
    color: palevioletred;
    cursor: pointer;
}
.login-card h3 {
text-transform: uppercase;
}

